/*adjust style here for font*/
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  hyphens: auto;
  line-height: 23px;
  text-size-adjust: 100px
}

img{
  width: 100%;
}


.front-page-display{
  display: inline-block;
}

.front-page-display:hover{
   transform: scale(1.1);
  }
